<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<div class="navbar-header">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a href="{% url 'index' %}" class="navbar-brand">Ayreene Putri</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="{% url 'ebook:ebook_index' %}">Ebook<span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">About <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Portfolio</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Contact</a>
				</li>
				<form class="form-inline my-2 my-lg-0" action="/search/" method="get">
					<input class="search-input form-control mr-sm-2" style="position: relative;border-radius: 50px" type="search" name="query" value="{{q}}" placeholder="Search" aria-label="Search" required>
				</form>
				{% if not request.user.is_authenticated %}
				<li class="nav-item">
					<a class="btn btn-light" href="{% url 'auth:signin' %}">Sign in</a>
				</li>
				{% else %}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						{{request.user}}
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="{% url 'auth:profile' %}">Profile</a>
						<a class="dropdown-item bg-danger" href="{% url 'auth:logout' %}">Logout</a>
					</div>
				</li>
				{% endif %}
			</ul>
		</div>

	</div>
</nav>