{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{# <link rel="stylesheet" type="text/cs" href="{% static "css/style.css" %}"> #}
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="{% static "css/ebook.css" %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<style>
		.error-div{
			display: flex; margin: auto; width: 50%;
			justify-content: space-between;
		}

		@media only screen and (max-width: 869px){
			.error-div{
				display: block;
				width: 100%;
			}
		}
	</style>
</head>
<body>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

	{% include "navbar.html" %}
	<br><br>
	<div style="position: absolute; z-index: -1; background-color: pink; width: 100%; height: 45vh; margin-top: -50px">
		
	</div>
	<div class="container">
		{% if not ebook_search %}
		<h2><b>We couldn't find anything </b></h2>
		<hr style="border: solid 1.5px black">	
		<div class="container">
			<br>
			<div class="error-div" align="center">
				<h1 style="font-size: 10vh; margin: auto">Error </h1>
				<h1 class="display-4" style="margin: auto; font-size: 20vh">404</h1>
			</div>
		</div>
		{% else %}
		<h2><b>Search for : {{q}}</b></h2>
		<hr style="border: solid 1.5px black">
		<div class="row row-cols-1 row-cols-md-4">
			{% for ebook in ebook_search %}
			<div class="col mb-4">
				<div class="card h-100 ebook-card">
					<img src="{{ebook.thumbnail.url}}" style="object-fit: cover; height: 200px" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">{{ebook.judul}}</h5>
						<p class="card-text">{{ebook.deskripsi|striptags|truncatechars:70}}</p>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">Pengarang : {{ebook.pengarang}}</li>
						<li class="list-group-item">
							<div style="text-align: center">
								<button type="button" style="width: 50%; background-color: pink; color: black" class="btn rounded-pill" data-toggle="modal" data-target="#exampleModal{{forloop.counter}}">
									Download
								</button>
							</div>
						</li>
					</ul>
					<div class="card-footer">
						<small class="text-muted">{{ebook.upload}}</small>
					</div>
				</div>
				<div class="modal fade" id="exampleModal{{forloop.counter}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">{{ebook.judul}}</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">

								<div class="card mb-3" style="max-width: 540px;">
									<div class="row no-gutters">
										<div class="col-md-4">
											<img src="{{ebook.thumbnail.url}}" class="card-img" alt="...">
										</div>
										<div class="col-md-8">
											<div class="card-body">
												<h4 class="card-title">{{ebook.judul}}</h4>
												<h6 class="card-text">Pengarang : {{ebook.pengarang}}</h6>
												<h6 class="card-text">Penerbit : {{ebook.penerbit}}</h6>
												<h6 class="card-text"><small class="text-muted">{{ebook.upload}}</small></p>
												</div>
											</div>
											<div class="container p-3">
												<p style="text-justify: inter-word; text-align: justify" class="card-text">{{ebook.deskripsi}}</p>
											</div>
										</div>
									</div>

								</div>
								<div class="modal-footer">
									{# <div style="text-align: center"> #}
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
										<a type="button" style="background-color: pink; color: black" class="btn download-btn" href="{{ebook.file.url}}">
											Download
										</a>
									{# </div> #}
									{# <a class="btn btn-primary" href="{{ebook.file.url}}">Download</a> #}
								</div>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			{% endif %}
		</div>
		<script>
		{% if not request.user.is_authenticated %}
		    $('.download-btn').attr("href", "{% url 'auth:signin' %}");
		{% endif %}
		$('.ebook-card').hover(
			function(){ $(this).addClass('shadow') },
			function(){ $(this).removeClass('shadow') }
			);
		</script>

		</body>
		</html>