{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Profile</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="{% static "css/ebook.css" %}">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<style>
	.profile-bar{
		display:flex;
		justify-content: space-between;
		margin-top: 5vh;
	}
	</style>
</head>
<body> 
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

	{% include "navbar.html" %}
	<div style="position: absolute; z-index: -1; background-color: pink; width: 100%; height: 200px; margin-top: -50px">
	</div>
	<div class="container">
		<div class="profile-bar">
			<div style="display:flex; width: 1000px">
				<img style="width: 100px; height: 100px;" class="rounded-circle" src="{{photo}}" alt="">
				<div style="margin: auto 5%; width: 100%">
					<h3>{{user.display_name}}</h3>
					<h6 class="text-dark">@{{request.user}}</h6>
				</div>
				<div style="margin: auto">
					<!-- Button trigger modal -->
					<button type="button" class="btn" data-toggle="modal" data-target="#exampleModal">
						<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
							<path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
						</svg>
					</button>

					<!-- Modal -->
					<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<form method="post" enctype="multipart/form-data">
										{% csrf_token %}
										{{update_profile.as_p}}
										<script>
											$('#profile_photo-clear_id').attr('type', 'hidden');
											$('input').addClass('form-control');
										</script>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									<input type="submit" class="btn btn-primary" value="Save changes">
									{# <button type="button" class="btn btn-primary">Save changes</button> #}
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<a class="btn btn-light" href="{% url 'ebook:upload' %}" style="margin:auto 0;height: 50px;">
				<svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-upload" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
					<path fill-rule="evenodd" d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z"/>
				</svg>
			</a>
		</div>
		<hr style="border: solid 1px black">
		<br>
		<div class="">
			<h4 style="color: #343A40">Uploaded Ebooks</h4>
			<div class="row row-cols-1 row-cols-md-4">
				{% if ebooks %}
					
				{% for ebook in ebooks %}
				<div class="col mb-4">
					<div class="card h-100 ebook-card">
						<img src="{{ebook.thumbnail.url}}" style="object-fit: cover; height: 200px" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">{{ebook.judul}}</h5>
							<p class="card-text">{{ebook.deskripsi|striptags|truncatechars:70}}</p>
						</div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item">Pengarang : {{ebook.pengarang}}</li>
							<li class="list-group-item">
								<div style="text-align: center">
									<button type="button" style="width: 50%; background-color: pink; color: black" class="btn rounded-pill" data-toggle="modal" data-target="#exampleModal{{forloop.counter}}">
										Download
									</button>
								</div>
							</li>
						</ul>
						<div class="card-footer" style="display: flex; justify-content: space-between">
							<small class="text-muted" style="margin: auto 0">{{ebook.upload}}</small>
							<div style="display: flex; justify-content: space-between">
								<a class="btn" href="{% url 'ebook:updateEbook' ebook.id %}"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pen" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" d="M13.498.795l.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
								</svg></a>
								<a class="btn" href="{% url 'ebook:deleteEbook' ebook.id %}"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
								</svg></a>
							</div>
						</div>
					</div>
					<div class="modal fade" id="exampleModal{{forloop.counter}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">{{ebook.judul}}</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">

									<div class="card mb-3" style="max-width: 540px;">
										<div class="row no-gutters">
											<div class="col-md-4">
												<img src="{{ebook.thumbnail.url}}" class="card-img" alt="...">
											</div>
											<div class="col-md-8">
												<div class="card-body">
													<h4 class="card-title">{{ebook.judul}}</h4>
													<h6 class="card-text">Pengarang : {{ebook.pengarang}}</h6>
													<h6 class="card-text">Penerbit : {{ebook.penerbit}}</h6>
													<h6 class="card-text"><small class="text-muted">{{ebook.upload}}</small></p>
													</div>
												</div>
												<div class="container p-3">
													<p style="text-justify: inter-word; text-align: justify" class="card-text">{{ebook.deskripsi}}</p>
												</div>
											</div>
										</div>

									</div>
									<div class="modal-footer">
										{# <div style="text-align: center"> #}
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
											<a type="button" style="background-color: pink; color: black" class="btn download-btn" href="{{ebook.file.url}}">
												Download
											</a>
										{# </div> #}
										{# <a class="btn btn-primary" href="{{ebook.file.url}}">Download</a> #}
									</div>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				{% else %}
				<div style="padding-left: 15px">
					<br>
					<h5>There's nothing yet</h5>
				</div>
				{% endif %}
				</div>
			</div>
		</div>	
		<script>
		{% if not request.user.is_authenticated %}
		$('.download-btn').attr("href", "{% url 'auth:signin' %}");
		{% endif %}
		$('.ebook-card').hover(
			function(){ $(this).addClass('shadow') },
			function(){ $(this).removeClass('shadow') }
			);
		</script>
	</body>
	</html>